.dsnone {
    display: none;
}

span.btn.btn-info.fileinput-button {
    position: fixed;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#title-bar.list-group-item {
    /*position: fixed;*/
    width: 100%;
    padding: 5px 10px;
}

/*a.list-group-item {
    top: 42px;
}*/

.list-group {
    margin-bottom: 0px;
}

.modal-dialog {
    margin: 50px 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 50px auto;
    }
}

.alert-success {
    position: fixed;
    top: 0;
    z-index: 9;
    height: 42px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.title-span {
    font-size: 16px;
    line-height: 2;
}

.f-right {
    float: right;
}

#progress {
    top: 12px;
    position: fixed;
    left: 80px;
    width: 50%;
}